$body-background-color: #fefcfb;
$sidebar-color: #ffffff;
$sidebar-border-color: #eaeaea;

$body-text-color: #222;
$body-heading-color: #c1121f;
$nav-child-link-color: #b10f2e;
$link-color: #d72638;
$search-background-color: #f5f5f5;

$code-background-color: #f0f0f0;
$code-text-color: #222;

$border-color: #ddd;
