<link href="https://fonts.googleapis.com/css2?family=Space+Mono&family=Inter&display=swap" rel="stylesheet">
<style>
  h1,
  h2,
  h3,
  .site-title {
    font-family: 'Space Mono', monospace !important;
  }

  body,
  p,
  li {
    font-family: 'Inter', sans-serif !important;
  }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />


<script src="https://unpkg.com/darkmode-js/lib/darkmode-js.min.js"></script>
<script>
  new Darkmode({
    bottom: '64px',
    right: '32px',
    time: '0.5s',
    mixColor: '#fff',
    backgroundColor: '#151515',
    buttonColorDark: '#fff',
    buttonColorLight: '#000',
    saveInCookies: true,
  }).showWidget();
</script>
