<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap">
  <link rel="stylesheet" href="{{ '/assets/css/content.css' | relative_url }}">
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
  <div class="content">
    <a href="/" class="back-home" style="display:inline-block;margin-bottom:1.5rem;color:var(--red);font-weight:bold;text-decoration:none;">&larr; Back to Home</a>
    {{ content }}
  </div>
</body>
</html>
